/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  width: 15em;
}
button {
  margin-top: 40px;
  background-color: gray;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #039be5;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.form-group {
  text-align: left;
margin-left: 40%;

}
